body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.launch {
    width: 250px;
    height: 250px;
    background: #d4d4fa;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#root{
    width: 100vw;
    height: 100%;
}
.cont{
    width: 100vw;
    height: 100%;
}
.launches {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #e7e7fa;
}

.icon {
    width: 100px;
}